<footer>
  <div class="icons mt-2">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <div class="footer-copy mb-2">&copy;Tariff.X Private Limited</div>
</footer>
